<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                font-family: 'Arial', sans-serif;
                background-color: #f8f8f8;
                margin: 0;
                padding: 0;
                color: #333;
                text-align: center;
            }

            .container {
                margin-top: 50px;
            }

            h2 {
                margin-bottom: 20px;
            }

            table {
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 20px;
            }

            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            th {
                background-color: #007BFF;
                color: #fff;
            }

            a {
                text-decoration: none;
                color: #007BFF;
                font-weight: bold;
                margin-right: 5px;
            }

            p {
                margin: 20px 0;
            }

            input[type="text"] {
                padding: 5px;
            }

            .search-container {
                margin-bottom: 20px;
            }

            .search-btn {
                padding: 5px;
            }
        </style>

    </head>
    <body>
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search...">
        <button onclick="search()">Search</button>
    </div>
        <div th:switch="${customers}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <div th:case="*">
                        <h2 class="my-5">Customers</h2>
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Address</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="customer : ${customers}">
                                    <td th:text="${customer.firstName}"></td>
                                    <td th:text="${customer.lastName}"></td>
                                    <td th:text="${customer.address}"></td>
                                    <td><a th:href="@{/customer/edit/{id}(id=${customer.id})}">EDIT</a></td>
                                    <td><a th:href="@{/customer/delete/{id}(id=${customer.id})}">DELETE</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="my-5"><a href="/customer/new">Add Customer</a></p>
                </div>
            </div>
        </div>
        <div th:switch="${employees}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <div th:case="*">
                        <h2 class="my-5">Employees</h2>
                        <table border="1">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Salary</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="employee : ${employees}">
                                <td th:text="${employee.name}"></td>
                                <td th:text="${employee.position}"></td>
                                <td th:text="${employee.salary}"></td>
                                <td><a th:href="@{/employee/edit/{id}(id=${employee.id})}">EDIT</a></td>
                                <td><a th:href="@{/employee/delete/{id}(id=${employee.id})}">DELETE</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="my-5"><a href="/employee/new">Add Employee</a></p>
                </div>
            </div>
        </div>
        <div th:switch="${orders}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <div th:case="*">
                        <h2 class="my-5">Orders</h2>
                        <table border="1">
                            <thead>
                            <tr>
                                <th>ProductID</th>
                                <th>Quantity</th>
                                <th>TotalPrice</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${orders}">
                                <td th:text="${order.productId}"></td>
                                <td th:text="${order.quantity}"></td>
                                <td th:text="${order.totalPrice}"></td>
                                <td><a th:href="@{/order/edit/{id}(id=${order.id})}">EDIT</a></td>
                                <td><a th:href="@{/order/delete/{id}(id=${order.id})}">DELETE</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="my-5"><a href="/order/new">Add Order</a></p>
                </div>
            </div>
        </div>
        <div th:switch="${products}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <div th:case="*">
                        <h2 class="my-5">Products</h2>
                        <table border="1">
                            <thead>
                            <tr>
                                <th>ProductName</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${products}">
                                <td th:text="${product.productName}"></td>
                                <td th:text="${product.price}"></td>
                                <td th:text="${product.category}"></td>
                                <td><a th:href="@{/product/edit/{id}(id=${product.id})}">EDIT</a></td>
                                <td><a th:href="@{/product/delete/{id}(id=${product.id})}">DELETE</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="my-5"><a href="/product/new">Add Product</a></p>
                </div>
            </div>
        </div>
        <div th:switch="${users}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <div th:case="*">
                        <h2 class="my-5">Users</h2>
                        <table border="1">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.password}"></td>
                                <td><a th:href="@{/user/edit/{id}(id=${user.id})}">EDIT</a></td>
                                <td><a th:href="@{/user/delete/{id}(id=${user.id})}">DELETE</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="my-5"><a href="/user/new">Add User</a></p>
                </div>
            </div>
        </div>
    <script>
        function search() {
            // Получаем значение из поля ввода
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementsByTagName("table")[0];
            tr = table.getElementsByTagName("tr");

            // Перебираем все строки таблицы и скрываем те, которые не соответствуют поиску
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; // Ищем в первой ячейке
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    </body>
</html>