<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Update Product</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/product/{id}(id=${product.id})}" th:object="${product}" method="put">
                <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input type="text" th:field="*{productName}" class="form-control" id="productName" placeholder="Product Name">
                    <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" th:field="*{price}" class="form-control" id="price" placeholder="Price">
                    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <input type="text" th:field="*{category}" class="form-control" id="category" placeholder="Category">
                    <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" class="btn btn-primary" value="Update Product">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
